BODY{
    margin: 0px;
    padding: 0px;
}

.title{
    background: #336699;
    color: #fffff0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin: 0px;
    padding: .5em;
}

.controls{
    color: #fffff0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: small;
    padding-top: .5em;
}

.controls A{
    color: #fffff0;
    font-weight: bold;
    text-decoration: underline;
}

.controls A:visited{
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
}